* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --red: #ff0000;
  --main-text-color: #dc3545;
  --main-text-color-hover: #b32b39;
}

/* 要素の表示 */
.isVisible {
  display: block;
}
/* 要素の非表示 */
.isHidden {
  display: none;
}
/* 主軸を垂直とした縦横中央揃えのFlexBox指定 */
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ページ全体 */
.topContainer {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: var(--main-text-color);
  background: linear-gradient(#feebd2, #fcb8a1);
}

h3 {
  margin-bottom: 1em;
}

/* トップのおみくじ */
.omikujiBox img {
  width: 200px;
  transform: rotate(12deg);
  margin: 2em 0;
}

/* おみくじを引くボタン */
.omikujiButton {
  border: none;
  border-radius: 24px;
  color: white;
  padding: .5em 1em;
  background-color: var(--main-text-color);
  margin: 1em 0 2em;
}
.omikujiButton:hover {
  background-color: var(--main-text-color-hover);
}

/* おみくじの結果ページ */
.omikujiPaper {
  padding: 16px;
  width: 280px;
  border: thick double var(--red);
  outline: .2rem solid var(--red);
  background-color: white;
}
.omikujiPaper ul {
  width: 90%;
  margin: auto;
  list-style: square;
  text-align: left;
  padding-left: 1em;
}
.omikujiPaper ul li {
  padding-bottom: 1em;
}

/* フッター */
footer {
  font-size: small;
}
footer a {
  color: var(--main-text-color);
}
footer p {
  font-size: .5rem;
  margin-top: 2em;
}